.wrapper {
  margin: 20px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  //height: 239px;
}
.calcHeader {
  font-size: 26px;
  line-height: 28.6px;
  text-align: left;
  margin-bottom: 40px;
  display: block;
}
.txtBorder{
  padding: 7.5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: inline-block;
  border-radius: 6px;
  height: fit-content;
  cursor: pointer;
}
.optionsWrapper{
  & > * + * {
    margin-left: 10px;
  }
}
.selectedclass {
  color: rgba(51, 169, 57, 1);
  background-color: rgba(246, 248, 249, 1);
  border: none;
}
.mainCalcWrapper {
  display: flex;
  gap: 15px;
  & > *  {
    flex-grow: 1;
  }
}
.input {
  all: unset;
  height: 60px;
  padding: 10px 20px 10px 20px;
  gap: 10px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  box-sizing: border-box;
}
.btnToCount {
  all: unset;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(51, 169, 57, 1);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  color: white;
}
.active {
  background: rgba(246, 248, 249, 1);
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: rgba(51, 169, 57, 1);
}
.rel{
  width: 100%;
  position: relative;
}
.dropdown{
  position: absolute;
  width: 300px;
  max-height: 200px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  top: 60px;
  z-index: 1;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
.DropDownOption{
  cursor: pointer;
  padding: 10px 20px 10px 20px;
}
.infodiv{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.bigSHIt{
  font-size: 26px;
  text-align: right;
  color: rgba(51, 169, 57, 1);
}
.small {
  font-size: 14px;
  line-height: 15.4px;
  text-align: right;
  color: black;

}
