.app.light {
  --abs-white: #FFFFFF;

  --abs-corp: #9D79F0;
  --abs-hover: #BA41CF;
  --abs-critical: #CF0013;
  --abs-suxess: #03A500;

  --txt-primary: #000000;
  --txt-secondary: #666564;
  --txt-blind: #BABABA;
  --txt-triple: #888888;

  --corp-ghost: #7E54E014;

  --bg-ghost: #5F5F5F0F;
  --bg-triple: #EDEDED;

  --bg-f5: #F5F5F5;

}
