.text {
  font-family: ALSHauss, serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
  color: var(--txt-primary);
}
.blind {
  color: var(--txt-blind)
}
.primary {
  color: var(--txt-primary);
}
.corp {
  color: var(--abs-corp)
}
.suxess {
  color: var(--abs-suxess)
}
.secondary {
  color: var(--txt-secondary)
}
.triple {
  color: var(--txt-triple)
}